$color-blue-main: #1698D9;
$color-blue-main-hover: #2EA8E6;
$color-pink-main: #D91667;
$color-pink-main-hover: #E52E7A;
$color-gray-main: #B3B3B3;
$yellow-description-disabled: #FFFF66;
$white-text-main: #FFFFFF;
$card-background: #F2F2F2;
$card-text-black: #000000;
$card-text-gray: #666666;
